/* Reset margin, padding, and set box-sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Make the black bar take the full width at the top */
.sony-black-bar {
    background-color: black;
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    text-align: right;
    z-index: 10; /* Keeps it on top of other elements */
}

.sony-logo {
    width: 55px;
    display: inline-block;
    position: relative;
}

/* Ensure body background is set */
body {
}

/* Shared nav container should take full width */
.shared-nav-container {
    display: inline-block;
    position: sticky;
    width: 100%;
    background-color: white;
    top: 0; /* Position it right below the black bar */
    left: 0;
}

/* Image section (fading images) */
#fading-images-root {
    position: relative;
    top: 0; /* Make sure it's right below the navigation bar */
}

/* Container for image loader (fading images) */
.shared-image-loader-container {
    position: relative;
    overflow: hidden;
    width: 100%; /* Ensure it takes full width */
    height: 1000px;
}

.astro-bot, .horizon-adventures{
    width: 100%; /* Ensure the image takes full width */
    display: block; /* Prevent any extra space below the image */
    position: absolute;
}

.thumbnail-image-selectors {
    width: 100%;
    position: relative;
    align-items: center;
}

.thumbnail-image-selectors, .mini-lego-horizons, .mini-astro-bot {
    position: absolute;
    height: 100px;
    width: 180px;
    display: inline-block;
}

.page-banner__content-wrapper {
    position: relative;
}

.page-banner__content-wrapper, .page-banner-content {
    position: absolute;
    top: 150px;
    left: 300px;
    bottom: 100px;
    scale: 50em;
    color: white;
}

.page-banner__content-wrapper, .page-banner-content, h2{
    padding-bottom: 20px;
}

.page-banner__content-wrapper, .page-banner-content, .horizon-logo {
    height: 124pxx;
    width: 526px;
    padding-bottom: 50px;
}

.page-banner__content-wrapper, .page-banner-content, button {
    
}